@import url('./__link/navigation__link.css');
@import url('./__button/navigation__button.css');
.navigation{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    z-index: 3;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .navigation{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background: #FFD36A;
        border-bottom-left-radius: 47px;
        border-bottom-right-radius: 47px;
        padding-bottom: 30px;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        transition: opacity .7s linear,visibility .5s linear;
    }
    .navigation.navigation__mobile-active{
        visibility: visible;
        opacity: 1;
    }
}
