@import url('./__link/navigation__link.css');
@import url('./__button/navigation__button.css');
.navigation{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    z-index: 3;
}
@media screen and (max-width: 1279px){
    .navigation{
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        width: 60vw;
        left: 40vw;
        top: 0;
        height: 100vh;
        background: #242424;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        visibility: hidden;
        opacity: 0;
        transition: opacity .7s linear,visibility .5s linear;
    }
    .navigation.navigation__mobile-active{
        visibility: visible;
        opacity: 1;
    }
}
