@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/roboto-regular.woff') format("woff");
}
.page{
    font-family: 'Roboto', serif ;
    min-width: 320px;
}
