.preview__white-rectangle{
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 660px;
    height: 1200px;
    z-index: 2;
}
@media screen and (max-width: 1279px){
    .preview__white-rectangle{
        display: none;
    }
}
