.why__advantages{
    display: flex;
    flex-direction: row;
    margin: 87px auto 0 auto;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}
@media screen and (max-width: 767px){
    .why__advantages{
        margin: 40px auto 0 auto;
    }
}
