.preview__master{
    position: absolute;
    width: 43vw;
    height: 41vw;
    right: 18vw;
    bottom: -5vw;
    z-index: 2;
}
@media screen and (max-width: 1279px){
    .preview__master{
        right: 17vw;
        width: 44vw;
        height: 36vw;
    }
}
@media screen and (max-width: 767px){
    .preview__master{
        position: unset;
        bottom: unset;
        right: unset;
        width: 288px;
        height: 260px;
        margin: 61px auto -30px auto;
    }
}
