@import url('./__image/card__image.css');
@import url('./__text/card__text.css');
@import url('./__price/card__price.css');
.card{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 15px;
    width: 550px;
    height: 371px;
}
