.header__open-nav{
    display: none;
}
@media screen and (max-width: 1279px){
    .header__open-nav{
        display: unset;
        background: none;
        border: none;
        outline: none;
        margin-left: auto;
        z-index: 101;
        width: 37px;
        height: 28px;
    }
}
