@import url('./__open-nav/header__open-nav.css');
@import url('./__open-nav-button/header__open-nav-button.css');
@import url('./__logo/header__logo.css');
.header{
    display: flex;
    flex-direction: row;
    overflow: visible;
}
@media screen and (max-width: 767px){
    .header{
        padding: 40px 5vw 0 5vw;
        width: 90vw;
    }
}
@media screen and (min-width: 768px){
    .header{
        padding: 83px 40px 0 40px;
    }
}
