.navigation__button{
    border-radius: 44px;
    background: #242424;
    font-size: 33px;
    line-height: 48px;
    outline: none;
    border: none;
    color: #FFD36A;
    width: 338px;
    height: 88px;
}
@media screen and (max-width: 767px){
    .navigation__button{
        width: 288px;
        height: 60px;
        font-size: 18px;
        line-height: 24px;
        margin: 40px auto 0 auto;
    }
}
