.navigation__button{
    border-radius: 44px;
    background: #242424;
    font-size: 33px;
    line-height: 48px;
    outline: none;
    border: none;
    color: #FFD36A;
    width: 338px;
    height: 88px;
    cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1279px){
    .navigation__button{
        position: absolute;
        bottom: 0;
        border-radius: unset;
        width: 60vw;
        background: #FFD36A;
        align-items: flex-end;
        color: #242424;
    }
}
@media screen and (max-width: 767px){
    .navigation__button{
        width: 60vw;
        height: 37px;
        font-size: 18px;
        color: #242424;
        background: #FFD36A;
        border-radius: unset;
        line-height: 24px;
        position: absolute;
        bottom: 0;
    }
}
