@import url('./__title/why__title.css');
@import url('./__advantages/why__advantages.css');
.why{
    display: flex;
    flex-direction: column;
    padding-bottom: 36px;
    background: #F4F1EC;
}
@media screen and (max-width: 767px){
    .why{
        background: #242424;
        padding: 0;
    }
}
